@model IEnumerable<Models.LineItem>
@{
    ViewData["Title"] = "Index";

}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
</head>
<hr />
<h4>Order Details</h4>
<hr />
<body>
    <p>
    </p>
    <table class="table">
        <caption>Details Of Orders</caption>
        <thead>
            <tr>
                <th scope="col">
                    Product
                </th>
                <th scope="col">
                    Author
                </th>
                <th scope="col">
                    Genre
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductAuthor)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</body>
</html>
