@model IEnumerable<Models.LineItem>
@{
    ViewData["Title"] = "Index";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
</head>
<body>
    <p>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductAuthor)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</body>
</html>
