@model IEnumerable<Models.Order>
@{
    ViewData["Title"] = "IndexHCust";

}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();

    listItems.Add(new SelectListItem
        {
        Text = "Newest",
        Value = "Newest",
        });
    listItems.Add(new SelectListItem
        {
        Text = "Oldest",
        Value = "Oldest",

        });
    listItems.Add(new SelectListItem
        {
        Text = "Total Lowest",
        Value = "Total Lowest"
        });
    listItems.Add(new SelectListItem
        {
        Text = "Total Highest",
        Value = "Total Highest"
        });



}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order History</title>
</head>

<table class="table">
    <caption>Order History by Customer</caption>
    <thead>
        @using (Html.BeginForm("CustHistoryOrder", "Order"))
            {

            @Html.DropDownList("selectedBatchId", listItems,
           new
               {
               title = "Sort",
               @onchange = "submit();"
               });

            }
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OrderCustomerID)
            </th>
            <<th scope="col">
                @Html.DisplayNameFor(model => model.OrderStoreID)
            </th>
             <th scope="col">
                 @Html.DisplayNameFor(model => model.OrderTotal)
             </th>
             <th scope="col">
                 @Html.DisplayNameFor(model => model.Date)
             </th>
             <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStoreID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("LineItems", "Index", "LineItems", new { id = item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }
    </tbody>
</table>

</html>
