@model IEnumerable<Models.Order>
@{
    ViewData["Title"] = "Index";

}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();

    listItems.Add(new SelectListItem
        {
        Text = "Newest",
        Value = "Newest",
        });
    listItems.Add(new SelectListItem
        {
        Text = "Oldest",
        Value = "Oldest",

        });
    listItems.Add(new SelectListItem
        {
        Text = "Total Lowest",
        Value = "Total Lowest"
        });
    listItems.Add(new SelectListItem
        {
        Text = "Total Highest",
        Value = "Total Highest"
        });

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <thead>
            @using (Html.BeginForm("HistoryOrder", "Order"))
                {

                @Html.DropDownList("selectedBatchId", listItems, new
                {
                    title = "Sort",
                    onchange = "submit();"
                });

                }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStoreID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStoreID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.ActionLink("LineItems", "Index", "LineItems", new { id = item.OrderId }) |

                    </td>
                </tr>
                }
        </tbody>
    </table>
</body>
</html>
