@model Models.Order
@{
    ViewData["Title"] = "IndexCust";

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank you for shopping!</title>
</head>
<body>
    <h3>Your Order Total is: $@string.Format("{0:f}", Model.OrderTotal) </h3>
    <h5>Order Date @string.Format("Order was placed {0:d} at {0:t}", Model.Date)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LineItems)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductAuthor)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</body>
</html>
