@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*asp-route-id="@prod.Product.ProductId"*@
<p>
    <a asp-action="Create" asp-route-storeId="@ViewBag.Store.StoreFrontId">Create New</a>
</p>
<table class="table">
    <caption>List of Inventory by Store</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.InventoryID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.InvStoreID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.InvProductID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th scope="col">
                Product Name
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvStoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryID })
            </td>
        </tr>
            }
    </tbody>
</table>
