@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "IndexCust";
   
}

<h2>You are shopping at the @ViewBag.myStore.StoreCity Location</h2>


@foreach (var g in ViewBag.Genre)
    {
    <hr />
    <h2> @g</h2>
    <hr />
        @foreach (var prod in Model.Where(x => x.Product.Genre.Equals(g)))
            {

          
        <div>
            <h5>@prod.Product.ProductName</h5>
            <img class="product-image" img src="@Html.Raw(prod.Product.ImageName)" style="height:100px;width:100px;" alt="Image of @prod.Product.ProductName" />
            <h6>@prod.Product.ProductAuthor</h6>
            <h6>$@string.Format("{0:f}", prod.Product.Price)</h6>
         
            <p class="description">@prod.Product.Description</p>
            <form asp-controller="ShoppingCart" asp-action="Create" >
                <input type="hidden" asp-for="@prod.InvProductID" value="@prod.InvProductID" />
                <input type="number" class="form-control text-center" value="1" max="@prod.Quantity" input asp-for="@prod.Quantity" style="inline-size:fit-content">
                <input type="submit" class="btn btn-warning" value=" Add To Cart"/>
              </form>
        </div>
          
            }

    }
